<div id="map-canvas"></div>

<script type="text/javascript">
function initialize() {
				var myLoc = new google.maps.LatLng(35.045694, -85.309685);
        var mapOptions = {
          center: myLoc,
          zoom:11,
          mapTypeId: google.maps.MapTypeId.HYBRID
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      

      var marker = new google.maps.Marker({
      position: myLoc,
      map: map,
      
  });
}      
      google.maps.event.addDomListener(window, 'load', initialize);
</script>